<<<<<<< HEAD
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Landing page test
</body>
</html>
>>>>>>> 56f7380daaab75539c7a4f24d64e08b4f55bbc55
